services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: autodepot
      POSTGRES_USER: autodepot
      POSTGRES_PASSWORD: autodepot
    ports:
      - "55432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: {}
